extends ../layout

block content
  .row.align-items-center(style='height : 400px')
    .col
      .d-flex.justify-content-center(style='margin-bottom : 20px')
        img(src="/img/logo.svg", alt="Logo", height='200')
      .d-flex.justify-content-center.align-items-center(style='flex-direction : column')
        form(action='', method='post' style='margin-bottom : 10px')
            a.btn.btn-gray-dark.btn-social.classicBtn(href='/auth/google')
              | Login with STD account
        p(style='font-size : 14px; font-weight: 900') Dengan login, anda menyetujui dapat diberi, memberi, dan melihat review