.footer
  .container
    .row.align-items-center.flex-row-reverse
      .col-12.col-lg-auto.mt-3.mt-lg-0.text-center
        | Copyright © 2019 
        |   Skippedia
        | . Theme by 
        a(href='https://codecalm.net', target='_blank') codecalm.net
        |  All rights reserved.
