extends ../layout

block content
  .row
    .col-lg-3.col-md-6
      .card
        .card-status.bg-teal
        .card-header
          h3.card-title Mahasiswa
        img(src="/img/students.jpg", alt="")
        .card-body
          .text-center.mt-6
            a.btn.btn-teal.btn-block.classicBtn(href='/dashboard/mahasiswa') Dashboard Mahasiswa
    .col-lg-3.col-md-6
      .card
        .card-status.bg-blue
        .card-header
          h3.card-title User
        img(src="/img/user.jpg", alt="")
        .card-body
          .text-center.mt-6
            a.btn.btn-blue.btn-block.classicBtn(href='/dashboard/user') Dashboard User
    .col-lg-3.col-md-6
      .card
        .card-status.bg-yellow
        .card-header
          h3.card-title Komentar
        img(src="/img/comment.jpg", alt="")
        .card-body
          .text-center.mt-6
            a.btn.btn-yellow.btn-block.classicBtn(href='/dashboard/rating') Dashboard Komentar
    .col-lg-3.col-md-6
      .card
        .card-status.bg-red
        .card-header
          h3.card-title File
        img(src="/img/file.jpg", alt="")
        .card-body
          .text-center.mt-6
            a.btn.btn-red.btn-block.classicBtn(href='/dashboard/file') Dashboard File