#namaASC {
	cursor: pointer;
}

#namaDESC {
	cursor: pointer;
}

#nama {
	cursor: pointer;
}

#nimASC {
	cursor: pointer;
}

#nimDESC {
	cursor: pointer;
}

#nim {
	cursor: pointer;
}

#ratingASC {
	cursor: pointer;
}

#ratingDESC {
	cursor: pointer;
}

#rating {
	cursor: pointer;
}

#login {
	cursor: pointer;
}

#loginASC {
	cursor: pointer;
}

#loginDESC {
	cursor: pointer;
}

#icon-sort {
	margin-left: 5px;
}

.disabled {
	cursor: not-allowed;
}