for data in mahasiswa
  - var href = link+data.nim
  tr
    td
      if (!data.image) 
        span.avatar.d-block.rounded(style='background-image: url(/img/ava-default.jpg)')
      else
        - var hrefImg = 'background-image: url('+data.image.url+')'
        span.avatar.d-block.rounded(style=`${hrefImg}`)
    td
      a(href=`${href}` style='color : black')= data.nama
    td= data.nim
    td= data.rating