extends ../layout

block content
  .row
    .col-lg-4
      .card
        .card-status.bg-teal
        .card-header
          h3.card-title UNIX 2017
        .bg-teal.d-flex.align-items-center.justify-content-center(style='height : 375.99px;')
          h3.d-flex.text-center(style='color: white; font-size: 45px') UNIX
        //- img(src="/img/UNIX2017.jpg", alt="")
        .card-body
          .text-center.mt-6
            a.btn.btn-teal.btn-block(href='/mahasiswa/unix') Cari Mahasiswa
    .col-lg-4
      .card
        .card-status.bg-blue
        .card-header
          h3.card-title BIT 2016
        .bg-blue.d-flex.align-items-center.justify-content-center(style='height : 375.99px;')
          h3.d-flex.text-center(style='color: white; font-size: 45px') BIT
        //- img(src="/img/BIT2016.jpg", alt="")
        .card-body
          .text-center.mt-6
            a.btn.btn-blue.btn-block(href='/mahasiswa/bit') Cari Mahasiswa
    .col-lg-4
      .card
        .card-status.bg-yellow
        .card-header
          h3.card-title ENIGMA 2015
        .bg-yellow.d-flex.align-items-center.justify-content-center(style='height : 375.99px;')
          h3.d-flex.text-center(style='color: white; font-size: 45px') ENIGMA
        //- img(src="/img/ENIGMA2015.jpg", alt="")
        .card-body
          .text-center.mt-6
            a.btn.btn-yellow.btn-block(href='/mahasiswa/enigma') Cari Mahasiswa
