extends ../layout

block content
  .row
    .col-lg-4
      .card
        .card-status.bg-teal
        .card-header
          h3.card-title UNIX 2017
        img(src="/img/UNIX2017.jpg", alt="")
        .card-body
          .text-center.mt-6
            a.btn.btn-teal.btn-block(href='/mahasiswa/unix') Cari Mahasiswa
    .col-lg-4
      .card
        .card-status.bg-blue
        .card-header
          h3.card-title BIT 2016
        img(src="/img/BIT2016.jpg", alt="")
        .card-body
          .text-center.mt-6
            a.btn.btn-blue.btn-block(href='/mahasiswa/bit') Cari Mahasiswa
    .col-lg-4
      .card
        .card-status.bg-yellow
        .card-header
          h3.card-title ENIGMA 2015
        img(src="/img/ENIGMA2015.jpg", alt="")
        .card-body
          .text-center.mt-6
            a.btn.btn-yellow.btn-block(href='/mahasiswa/enigma') Cari Mahasiswa
