* {
    font-family: 'Quicksand', sans-serif;
}

.footer {
    background: #FAF4E8;
    color: #7a7a7a;
    padding: 10px;
}

.content {
    padding-top: 80px;
}

.card {
    background: #FAF4E8;
    border: none;
    box-shadow: 0px 0px 5px 0px grey;
    border-radius: 5px;
}

.myButton {
    background: #56C8F7;
    border-color: #56C8F7;
    color: white;
}

.secondButton {
    background: #F64066;
    border-color : #F64066;
}

.classicBtn {
    background: #636363;
    border-color: #636363;
    color: white;
}
